.Ethos {
   padding-top: 10rem;
   padding-left: 5rem;
   z-index: 5;
}
.Ethos-desc {
    width: 35rem;
    background-color: rgba(112, 112, 112, 0.445);
    padding: 3rem 2rem 2rem 2rem;
    z-index: 5;
}
.Ethos-title {
    font-size: 3rem;
    margin-bottom: -2rem;
}

@media (max-width: 550px) {
    .Ethos-title {
    font-size: 2rem;
    margin-bottom: -2rem;
    margin-right: 2rem;
    width: 50%
}
.Ethos {
    padding-top: 4rem;
    padding-left: 1rem;;
 }
 .Ethos-desc {
    width: 70vw;
    background-color: rgba(112, 112, 112, 0.445);
    padding: 3rem 0 0 0;
    margin-bottom: 2rem;
}
}