.Fence2 {
    background-image: url("https://images.pexels.com/photos/113726/pexels-photo-113726.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
    height: 50vh;
    background-attachment: fixed;
} 

@media (max-width: 550px) {
    .Fence2 {
        height: 30vh;
    } 
}

@media (max-width: 800px) {
    .Fence2 {
        height: 30vh;
    } 
}

@media (max-width:1024px) {
    .Fence2 {
        height: 65vh;
        padding-bottom: 10rem;
    } 
}
